version: "3"

services:
  postgres:
    image: "openmaptiles/postgis:2.9"
    ports:
      - 54325:5432
    env_file: docker-postgres-env

  api:
    build: ./api/
    volumes:
      - ./api:/api
    depends_on:
      - postgres
    ports:
      - 5000:5000
    env_file: docker-postgres-env

  importer:
    image: openmaptiles/import-osm
    env_file: docker-postgres-env
    volumes:
     - ./imposm/import/:/import
     - ./imposm/vapourtrail_mapping.yml:/mapping/mapping.yaml
     - ./imposm/post-process-internal.sql:/mapping/post-process-internal.sql
     - ./imposm/post-process-display.sql:/mapping/post-process-display.sql
     - ./imposm/helpers.sql:/mapping/helpers.sql
     - ./imposm/run_importer.sh:/mapping/run_importer.sh
    depends_on:
      - postgres
    entrypoint: /bin/bash
    command: "/mapping/run_importer.sh"

  t-rex:
    image: sourcepole/t-rex
    volumes:
      - ./t-rex/trex.toml:/config/config.toml
      - ./t-rex/cache:/srv/mvtcache
    depends_on:
      - postgres
    ports:
      - 6767:6767
    entrypoint: /usr/bin/t_rex serve -c /config/config.toml

  web:
    image: nginx:alpine
    volumes:
     - ./web/:/usr/share/nginx/html/
     - ./web/nginx.vh.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - t-rex
      - api
    ports:
      - 8082:80
