body {
    margin: 0;
    padding: 0;
}
main {
    height: calc(100vh - 60px);
}
#map {

    width: 100%;
    height: 100%;

}
.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header {
    height: 60px;
    background-color: #0267b1;
    color: white;
}
.map-overlay {
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #fff;
    z-index: 12;
    top: 60px;
    left: 0;
    padding: 10px;
    opacity: 0.9;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    max-width: 35%;
    max-height: calc(100vh - 60px);
    overflow: auto;
}

@media screen and (max-width: 480px) {
    .map-overlay {
        width: 100%;
        max-height: 45%;
        overflow: auto;
    }
}

.bus_box {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.bus_box_div {
    margin-bottom: 10px;
}
.stop_list {
    padding-top: 15px;
}

.bus_box_inline_div {
    margin-bottom: 10px;
    display: inline-block;
}

.stop_dot {
    background-color: #FFF;
    border-style: solid;
    border-width: 4px;
    border-color: #000;
    border-radius: 50%;
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    left: 5px;
}

.stop_item {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #000;
    padding-left: 15px;
}

.stop_item:hover {
 background-color:#e3e0e0;
}

.stop-shields {
    padding-left: 15px;
}
